.main_container {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    transition: opacity 1s ease;
    opacity: 1;
}

.main_container_off {
    opacity: 0;
}

.punchline {
    margin-top: 15px;
    font-family: Halant;
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    color: rgba(37, 39, 41, 1);

    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}

.between_img {
    margin-top: 40px;
    margin-right: 20px;
    position: relative;
    right: 20px;
}

.vector-5 {
    margin-top: 0px;
    position: relative;
    bottom: 5px;
}


.in_between_middle {
    display: flex;
    /* gap: 48px; */
    max-width: 1250px;
}



.content {
    padding-top: 10px;
    margin-top: 80px;
    font-family: Instrument Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;

    line-height: 44px;
    letter-spacing: 0%;
    color: rgba(37, 39, 41, 1);

}

ul {
    list-style: none;
    margin-top: 0;
    margin-left: 24px;
    padding-left: 0;
}

li {
    position: relative;
    padding-left: 20px;

    margin-bottom: 4px;
}

li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-40%);
    width: 5px;
    height: 5px;
    background-color: rgba(37, 39, 41, 1);
    border-radius: 1px;
}

.arrow {
    margin: 0px;
}

.mid_btm {
    font-family: Instrument Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    position: relative;
    bottom: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(37, 39, 41, 1);

    margin: 0px;
    text-align: center;
}

.left_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.back {
    position: relative;
    left: 100px;
    bottom: 45px;
}

.cam {
    position: relative;
    left: 90px;
    top: 105px;
}

.right_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right-cam1,
.right-cam2,
.right-cam3 {
    position: relative;
}

.right-cam1 {
    transform: translate(-70px, 0px);
}

.right-cam2 {
    transform: translate(-190px, 120px);
}

.right-cam3 {
    transform: translate(-110px, 130px);
}