.wrapper {
    display: flex;
    justify-content: space-around;
    height: 100vh;

}

.left-wrapper {
    width: 50%;
    align-self: center;
}

.left-content {
    font-family: Instrument Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    align-self: flex-end;
    /* line-height: 100%;
    letter-spacing: 0%; */
    color: rgba(0, 0, 0, 1);

    transform: translate(150px, 260px);


}

.footer-left {
    transform: translate(-62px, 120px);
}

.right-wrapper {
    max-width: 50%;
}

.right-container-form {
    display: flex;
    flex-direction: column;
    transform: translate(-140px, -410px);
    /* justify-content: center; */
    align-items: center;
}

.links.links1 {
    font-size: 40px;
    border: none;
    font-weight: 400;
}

.top-right {
    transform: translate(222px, -80px);
    /* overflow-y: hidden; */
    /* overflow: inherit; */
    pointer-events: none;
    position: relative !important;
    z-index: 0 !important;
}

.below-form {
    display: flex;
    gap: 24px;
}

.text1 {
    font-family: Halant;
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    padding-bottom: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}

.text2 {
    font-family: Instrument Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    margin-bottom: 80px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}

.inp1,
.inp2,
.inp3,
.inp4 {
    font-family: Instrument Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;

    line-height: 100%;
    letter-spacing: 0%;

    width: 700px;
    box-sizing: border-box;
    padding: 10.5px 11.5px;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 2px;
    background: #fff;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
    display: block;
}

.inp1,
.inp2,
.inp3 {
    /* height: 43px; */
    padding-top: 10.5px;
    padding-right: 11.5px;
    padding-bottom: 10.5px;
    padding-left: 11.5px;
    border-radius: 2px;
    border-width: 1px;
}

.inp4 {

    height: 43px;
    /* same initial height */
    min-height: 120px;
    /* but allows multi-line typing */
    resize: none;
    /* stops resize handle */
    overflow: auto;

}

.sub {
    text-align: center;
    margin-bottom: 60px;
    width: 93px;
    height: 46px;
    background-color: rgba(241, 93, 43, 1);
    border: none;
    color: white;

    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    border-radius: 24px;
    font-family: Instrument Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;

    line-height: 100%;
    letter-spacing: 0%;

}

.links {
    font-family: Halant;
    font-weight: 700;
    font-style: Bold;
    font-size: 17px;
    /* leading-trim: NONE; */
    line-height: 17px;
    letter-spacing: 0%;
    color: rgba(241, 93, 43, 1);
}

header {
    position: relative;
    z-index: 10;
}

img {
    z-index: 0;
}

/* FORCE header/nav to be on top of decorative art */

.navbar {
    position: relative !important;
    z-index: 99999 !important;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 5px;
    /* space before the input */
    text-align: left;
    width: 700px;
}

.invalid {
    border-color: red;
}