 .navbar {
     height: 80px;
     display: flex;
     align-items: center;
     justify-content: space-between;

     background-color: rgba(255, 251, 251, 0.35);

 }

 .logo-container {
     width: 174px;
     height: 63px;

     opacity: 1;
     gap: 10px;
     border-radius: 50px;
     padding-top: 5px;
     padding-right: 25px;
     padding-bottom: 10px;
     padding-left: 25px;
     margin-top: 20px;
     margin-left: 20px;


 }

 .nav {
     width: 50px;
     height: 50px;
     margin-right: 20px;
     opacity: 1;

 }

 .logo-nav-off {
     display: none;
     width: 124px;
     height: 48px;
 }

 .logo-nav {

     width: 124px;
     height: 48px;
 }

 .nav-container {
     display: flex;
     gap: 24px;
     position: relative;
     transform: translateX(93%);
     transition: transform 0.35s ease;

     margin-right: 20px;
 }


 .nav-container.move {

     transform: translateX(0%);
 }

 .navOpen.open {
     opacity: 1;
 }

 .navOpen.open a:nth-of-type(1) {
     transition-delay: 0s;
 }

 .navOpen.open a:nth-of-type(2) {
     transition-delay: 0.2s;
 }

 .navOpen.open a:nth-of-type(3) {
     transition-delay: 0.4s;
 }

 .navOpen.open a:nth-of-type(4) {
     transition-delay: 0.6s;
 }

 .navOpen.open a:nth-of-type(5) {
     transition-delay: 0.8s;
 }

 .navOpen {
     transition: opacity 0.25s ease;
     font-family: Instrument Sans;
     font-weight: 400;
     font-style: Regular;
     font-size: 18px;
     display: flex;
     opacity: 0;
     transition: opacity 0.25 ease;

     align-items: center;
     gap: 24px;
 }

 .contact {
     display: flex;
     border-radius: 24px;
     background-color: rgba(241, 93, 43, 1);
     align-items: center;
     gap: 8px;
     border-radius: 24px;
     padding-top: 12px;
     padding-right: 16px;
     padding-bottom: 12px;
     padding-left: 16px;
     cursor: pointer;
     box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);

 }

 .navOpen a {
     color: rgba(0, 0, 0, 1);

     text-decoration: none;
 }

 .contact a {
     color: rgba(255, 255, 255, 1);

 }

 .toggler {
     opacity: 1;
     transition: opacity 0.35s ease;
     cursor: pointer;
 }

 .toggler.on {
     opacity: 0;
 }

 .toggler2 {
     opacity: 0;
     transition: opacity 0.5s ease;
     cursor: pointer;
 }

 .toggler2.on {
     opacity: 1;
 }